.homepage{
    color: white;
}

.scary{
    font-family: 'Eater', cursive;
    font-size: 35px;
    position: relative;
    top: 100px;
    margin-left: 100px;
}

.challenge_1{
    display: flex;
    gap: 80px;
}

.challenge_2{
    display: flex;
    gap: 80px;
    margin-top: 30px;
    
}

.game{
    position: relative;
    top: 200px;
    /* font-family: 'Henny Penny', cursive;
    font-size: 20px;
    letter-spacing: 0.5px; */
    margin-left: 80px;
}

.start{
    background: rgba( 255, 63, 63, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border-radius: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0px;
    font-family: 'Henny Penny', cursive;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.countdown{
    background: rgba( 255, 63, 63, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border-radius: 10px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0px;
    font-family: 'Henny Penny', cursive;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.night{
    background: rgba( 255, 63, 63, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border-radius: 10px;
    width: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0px;
    font-family: 'Henny Penny', cursive;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.escape{
    background: rgba( 255, 63, 63, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border-radius: 10px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0px;
    font-family: 'Henny Penny', cursive;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.last img{
    height: 120px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.design{
    color: white;
    position: absolute;
    bottom: 2px;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 1px;
    font-size: 17px;
}
