@import url(css/navbar.css);
@import url(css/homepage.css);
@import url(css/pop.css);


body{
   background-image: url(assets/hut.jpg);
   background-repeat:no-repeat;
   background-size: 100%;
}

.scary{
   background-image: url(assets/Untitled.png);
   background-repeat: no-repeat;
   width:fit-content;
}